* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("/bg.jpg");
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  overflow: hidden;
  width: 90vw;
  height: 90vh;
  backdrop-filter: blur(19px) saturate(180%);
  border: solid 1px black;
  border-radius: 5px;
  color: aliceblue;
  box-shadow: 3px 3px 0.4em lightcyan, -3px -3px 0.4em lightcyan;
  .chatList {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 25px;
    .chatListInner {
      width: 100%;
    }
    .userCard {
      width: 100%;
      height: 48px;
      /* below is for testing */
      /* border: 1px solid black; */
      border-radius: 5px;
      display: flex;
      min-width: 250px;
      max-width: 400px;
      /* font-weight: bold; */
      /* margin-top: 30px; */
      /* margin-left: 25px;
      margin-right: 25px; */
      .avatarContainer {
        display: flex;
        width: 50px;
        img {
          border-radius: 50%;
        }
      }
      .userName {
        display: flex;
        margin-left: 10px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
      }
      .userIcons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 10px;
        img {
          height: 24px;
        }
      }
    }
    .searchBarContainer {
      display: flex;
      height: 36px;
      margin-top: 50px;
      gap: 20px;
      input {
        background: transparent;
        border: none;
        color: azure;
      }
      input::placeholder {
        color: white;
      }
      .searchBarContainerSearch {
        width: 80%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        padding: 5px;
        border-radius: 10px;
        gap: 11px;
      }
      .searchBarContainerPlusContainer {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        .searchBarContainerPlus {
          display: flex;
          background-color: rgba(0, 0, 0, 0.5);
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          border-radius: 10px;
          img {
            height: 26px;
          }
        }
      }
    }
    .userContactListContainer {
      height: 70vh;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      gap: 10px;
      overflow-y: scroll;
      scroll-snap-type: proximity;
      scroll-behavior: smooth;
      scroll-snap-align:initial;      
      scrollbar-width:none;
      .userCard {
        /* margin-top: 24px;
        margin-bottom: 1px; */
        /* border-bottom: 1px solid white; */
        width: 100%;
        height: 72px;
        /* below is for testing */
        /* border: 1px solid black; */
        border-radius: 5px;
        display: flex;
        min-width: 250px;
        max-width: 400px;
        background-color: rgb(0, 0, 0, 0.1);
        padding: 10px;
        /* font-weight: bold; */
        /* margin-top: 30px; */
        /* margin-left: 25px;
      margin-right: 25px; */
      }
      .userNameAndDescContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .userName {
          justify-content: flex-start;
        }
        .desc {
          margin-left: 10px;
          font-weight: 100;
          font-size: 16px;
          align-items: center;
        }
      }
    }
  }
  .chatContainer {
    flex: 2;
  }
  .chatDetails {
    flex: 1;
  }
}

/* @media only screen and (min-width: 768px) {
  .chatList {
    min-width: 144px;
  }
} */

/* .chatListInner {
  display: flex;
  flex-direction: column;
} */

.mainVerticalSeparator {
  width: 1px;
  margin-top: 1vh;
  .mainVerticalSeparatorMiddle {
    background-color: rgb(255, 255, 255, 0.8);
    height: 88vh;
  }
}

/* Guess it can only be used in flex mode. */
.mainHorizontalSeparator {
  height: 1px;
  margin-left: 2%;
  .mainHorizontalSeparatorMiddle {
    background-color: rgb(255, 255, 255, 0.8);
    width: 96%;
  }
}
